name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5  # Updated to v5
      with:
        python-version: '3.x'

    - name: Install SDL2 dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev

    - name: Install dependencies
      run: |
        make install

    - name: Run tests
      env:
        PYTHONPATH: ${{ github.workspace }}  # Set PYTHONPATH to include the project root
      run: |
        make test

    - name: Lint code
      run: |
        make lint

    - name: Format code
      run: |
        make format

    - name: Deploy application
      if: github.ref == 'refs/heads/main' && success()
      run: |
        echo "Deploying application..."
